[submodule ".standards"]
	path = .standards
	url = https://github.com/Equilateral-AI/EquilateralAgents-Open-Standards.git
[submodule ".standards-community"]
	path = .standards-community
	url = https://github.com/Equilateral-AI/EquilateralAgents-Community-Standards.git
